*.o
*.a
__pycache__/
.*
tags
lepton_control/vsync_app
lepton_control/rpi_vsync_app
lepton_control/bbb_vsync_app
lepton_module/*.mod.c
lepton_module/Module.symvers
lepton_module/lepton.ko
lepton_data_collector/lepton_data_collector
lepton_streamer/lepton_streamer
lepton_streamer/test_frame_pipeline
lepton_vospi_lib/test_lepton_driver_lib
